<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--  XML Mapper 이용할 때 매번 parameterType이나 resultType 패키지 포함된 클래스 작성 하는 일 이 번거롭다면  -->
<typeAliases>
	<package name="org.zerock.domain"/>
</typeAliases>

</configuration>