<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuni.persistence.EmployeeMapper">
	<select id="getTime" resultType="string">
		select now()
	</select>
	
	<select id="getEmployeeList" resultType="java.util.HashMap">
	 select * from emp;
	</select>
	
	<select id="getEmployeeListPage" resultType="java.util.HashMap">
		select * from emp limit #{firstRow}, #{getRecordCountPerPage}	
	</select>

</mapper>